<div ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <h1>Let's find out what you like</h1>
            <p class="lead">Strains</p>

            <div class="[ form-group ]">
                <input type="checkbox" name="fancy-checkbox-default" id="fancy-checkbox-default" autocomplete="off" />
                <div class="[ btn-group ]">
                    <label for="fancy-checkbox-default" class="[ btn btn-default ]">
                        <span class="[ glyphicon glyphicon-ok ]"></span>
                        <span> </span>
                    </label>
                    <label for="fancy-checkbox-default" class="[ btn btn-default active ]">
                        Enhancement
                    </label>
                </div>
            </div>
            <div class="[ form-group ]">
                <input type="checkbox" name="fancy-checkbox-success" id="fancy-checkbox-success" autocomplete="off" />
                <div class="[ btn-group ]">
                    <label for="fancy-checkbox-success" class="[ btn btn-success ]">
                        <span class="[ glyphicon glyphicon-ok ]"></span>
                        <span> </span>
                    </label>
                    <label for="fancy-checkbox-success" class="[ btn btn-default active ]">
                        Anxiety
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">&nbsp;</div>
                <div class="col-md-4">
                    <button type="submit" ng-click="vm.getAllStrains()"
                            class="btn btn-primary btn-lg">
                        <i class="fa fa-search fa-2x"></i> Search!
                    </button>
                </div>
                <div class="col-md-4">&nbsp;</div>
            </div>

            <br/>


            <!-- Loading Spinner -->
            <div ng-show="vm.showLoading">
                <div class="row">
                    <div class="col-md-12 text-center center-block">
                        <span class="fa-stack fa-lg fa-spin">
                          <i class="fa fa-leaf fa-stack-1x text-success"></i>
                          <i class="fa fa-circle-o-notch fa-stack-2x text-success"></i>
                        </span>

                        <h3>Retrieving Happiness...</h3>
                    </div>
                </div>
            </div>

            <!-- Product Display -->
            <div ng-show="vm.strains.length > 0">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h2 class="panel-title">Here are some strains you might like!</h2>
                            </div>
                            <div class="panel-body ">

                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>
                                            Selected strains</h3>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-12">

                                        <div>
                                            <div class="well">

                                                <div class="row">

                                                    <div class="col-sm-4"
                                                         ng-repeat="strain in vm.strains track by $index">

                                                        <h4><strong>{{strain.name}} - </strong>
                                                            {{strain.name}}</h4>
                                                        <div class="col-item">
                                                            <div class="photo">
                                                                <img ng-src="{{strain.image}}"
                                                                     class="img-responsive"
                                                                     alt="a"/>
                                                            </div>
                                                            <div class="info">
                                                                <div class="row">
                                                                    <div class="price col-md-6">
                                                                        <h4 class="price-text-color">
                                                                            {{strain.ucpc}}</h4>
                                                                        <strong>Item Id:</strong> item {{strain.seedCompany.name}}
                                                                        <br/>
                                                                        <strong>Style Id:</strong> item {{strain.seedCompany.ucpc}}
                                                                        <br/>
                                                                        <strong>Color Id:</strong> item {{strain.seedCompany.link}}
                                                                        <br/>

                                                                        <a ng-href="{{strain.link}}" target="_blank">Product Link</a>

                                                                    </div>

                                                                </div>

                                                                <div class="clearfix">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Closing Tags -->
        </div>
    </div>
</div>
